@import '~Scss/variables';

.logo {
  &__wrapper {
    width: 350px;
    animation: logo-fade 5s ease-in-out infinite;
  }
  &__svg {
    display: block;
    width: 100%;

    path {
      stroke-width: 1px;
      fill: transparent;
      transition: stroke $themeTransition;
    }
  }
}
