@import "../../scss/variables";

.logo-block {
  padding: 15px 30px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: $desktop-padding;
  left: $desktop-padding;
  transition: transform 1000ms ease, opacity 500ms ease;
  transform: none;
  opacity: 1;

  &--transition {
    transform: translateY(100%);
    opacity: 0;

    .logo-block__image {
      opacity: 0;
    }
  }

  &__image {
    display: block;
    width: 200px;
    height: auto;
    opacity: 1;
    transition: opacity 500ms ease;
    transition-delay: 250ms;

    path {
      fill: #111;
      animation: cycleColor 5s ease infinite;
    }
  }

  @media(max-width: $mobile-break) {
    top: $mobile-padding;
    left: $mobile-padding;

    &--transition {
      transform: translateY(-100%);
    }
  }

  @media(max-width: $small-mobile-break) {
    left: 10px;
    top: 10px;
    padding: 5px;
    width: calc(100vw - 20px);

    &__image {
      width: 170px;
      margin-left: auto;
    }
  }
}

@keyframes cycleColor {
  0% {
    fill: $color-overlay;
  }
  33% {
    fill: $color-red;
  }
  66% {
    fill: $color-blue;
  }
}
