.content-block {
  position: absolute;
  background-color: #fff;
  padding: 30px;
  width: 33vw;
  z-index: 10;
  transition: transform 1000ms ease, opacity 500ms ease;
  transform: none;
  opacity: 1;
  min-width: 450px;
  bottom: 8vh;
  right: 8vh;
  font-family: 'Anonymous Pro', monospace;
  color: lighten(black, 30%);

  &--transition {
    transform: translateY(-100%);
    opacity: 0;
  }

  &__section {
    display: block;
    margin-bottom: 20px;
    line-height: 1.4;
    font-size: 14px;
  }

  &__links {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;

    a {
      color: blue;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      display: inline-block;
      padding: 0 4px 5px;
      border-bottom: 2px solid blue;
      transition: border-color 200ms ease, color 200ms ease;

      &:hover {
        border-bottom-color: red;
      }

      &:focus {
        color: red;
        border-bottom-color: red;
      }
    }
  }
}
