@import "../../scss/variables";

.content-block {
  position: absolute;
  background-color: #fff;
  padding: 30px;
  width: 33vw;
  z-index: 10;
  transition: transform 1000ms ease, opacity 500ms ease;
  transform: none;
  opacity: 1;
  min-width: 600px;
  bottom: $desktop-padding;
  right: $desktop-padding;
  font-family: "Anonymous Pro", monospace;
  color: #212121;

  &--transition {
    transform: translateY(-70%);
    opacity: 0;

    .content-block__section,
    .content-block__links {
      opacity: 0;
    }
  }

  &__section,
  &__links {
    opacity: 1;
    transition: opacity 500ms ease;
    transition-delay: 250ms;
  }

  &__section {
    display: block;
    margin-bottom: 20px;
    line-height: 1.55;
    font-size: 14px;
  }

  &__links {
    display: flex;
    justify-content: space-between;

    a {
      color: $color-blue;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      display: inline-block;
      padding: 5px 5px 7px;
      transition: color 200ms ease;
      position: relative;
      overflow: hidden;

      &:hover:after {
        transform: translateX(0);
      }

      &:focus {
        color: $color-red;

        &:after {
          transform: translateX(0);
        }
      }

      &:before,
      &:after {
        content: '';
        display: block;
        position: absolute;
        height: 2px;
        width: 100%;
        bottom: 0;
        left: 0;
      }

      &:before {
        background-color: $color-blue;
      }

      &:after {
        background-color: $color-red;
        transition: transform 250ms ease;
        transform: translateX(-100%);
      }
    }
  }

  @media (max-width: $mobile-break) {
    width: calc(100vw - #{$mobile-padding * 2});
    margin: 0 auto;
    min-width: 0;
    bottom: $mobile-padding;
    left: $mobile-padding;
    right: auto;

    &--transition {
      transform: translateY(70%);
    }
  }

  @media(max-width: $small-mobile-break) {
    width: auto;
    left: 10px;
    right: 10px;
    bottom: auto;
    top: 15vh;
    padding: 15px;

    &__section {
      font-size: 14px;
      line-height: 1.4;
    }


    &__links {
      flex-wrap: wrap;

      a {
        width: 75%;
        margin: 7px 0;
        font-size: 12px;

        &:first-of-type {
          margin-top: 0;
        }
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}
