$fontMono: 'Anonymous Pro', monospace;
$fontSerif: 'Alegreya', serif;

$desktopMargin: 32px;

$themeTransition: .65s ease;

@mixin smallHeader {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 16px;
  font-family: $fontMono;
  transition: color $themeTransition;
}


@keyframes logo-fade {
  0%,
  100% {
    opacity: 0;
    transform: scale(1) rotate(0);
  }

  50% {
    opacity: 1;
    transform: scale(1.5) rotate(90deg);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
