
@import './reset';
@import './variables';

* { box-sizing: border-box; }

#root { transform: translateZ(0) }

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('../assets/board-2-non-blend.svg');
  background-size: cover;
  background-position: top left;
}

::selection {
  background: $color-blue; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: $color-blue; /* Gecko Browsers */
  color: white;
}
